@media (max-width: 1200px) {
  .experience {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .experience-title {
    font-size: 3.2rem;
    color: #525252;
    text-transform: capitalize;
    max-width: 10ch;
    line-height: 5rem;
  }
  .hero-content h1 {
    font-size: 4rem;
  }
  .experience-section-text {
    max-width: 50ch;
  }
  .education-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .education-title {
    font-size: 3.2rem;
    color: #f3f3f3;
    text-transform: capitalize;
    max-width: 10ch;
    line-height: 5rem;
  }
  .education-section-text {
    max-width: 50ch;
  }
}

@media (max-width: 1000px) {
  .wolf {
    display: none;
  }
  .container {
    padding: 60px 120px 20px 120px;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .hero-content {
    padding: 20px 0;
  }
  .experience-item span {
    order: 1;
    position: initial;
  }
  .experience-section-text {
    font-size: 1.2rem;
  }
  .education-section-text {
    font-size: 1.2rem;
  }
  .contact-container {
    grid-template-columns: 1fr;
    gap: 100px;
  }
}

@media (max-width: 800px) {
  .menu {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .menu-items a {
    color: #141414;
    font-size: 1rem;
    background-color: #eeeeee;
    padding: 10px 20px;
    border-radius: 4px;
  }
  .menu img {
    max-width: 25%;
  }
  .hero-content h1 {
    font-size: 3.5rem;
  }
  .container {
    padding: 20px 80px 60px 80px;
  }
  .contact-container {
    padding: 80px;
  }
  .education-container {
    padding: 80px;
  }
  .experience-title {
    font-size: 2.2rem;
    line-height: 2rem;
  }
  .education-title {
    font-size: 2.2rem;
    line-height: 2rem;
  }
}

@media (max-width: 680px) {
  .menu {
    padding: 40px 30px;
  }
  .menu-items {
    gap: 5px;
  }
  .menu-items a {
    font-size: 1rem;
  }
  .hero-content h1::before {
    width: 25px;
    height: 8px;
    left: 0px;
  }
  .container {
    padding: 20px 30px 60px 30px;
  }
  .contact-container {
    padding: 30px;
  }
  .education-container {
    padding: 100px 30px 30px 30px;
  }
  .experience-item {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .education-container::before {
    width: 40px;
    height: 10px;
    bottom: -5px;
    left: 30px;
  }
  .education-section {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .education-list {
    flex-direction: column;
    gap: 10px;
  }
  .education-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  .menu {
    gap: 40px 10px;
  }
  .menu-items a {
    font-size: 0.8rem;
  }
  .contact-info {
    font-size: 1.5rem;
    gap: 10px;
  }
  .contact-text {
    font-size: 1.2rem;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .education-title {
    font-size: 1.5rem;
  }
  .experience-title {
    font-size: 1.5rem;
  }
}
