body{
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, article, ul, li{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #fbfbfb;
    padding: 40px 120px;
}

.menu-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.menu-items a{
    color: #141414;
    font-size: 1.2rem;
}

.container-white{
    padding: 40px 120px;
    background-color: white;
}

.container-grey{
    padding: 40px 120px;
    background-color: #141414;
}

.wolf{
    max-width: 350px;
}

.hero{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
}

.hero-content{
    display: grid;
    align-content: center;
    justify-items: start;
    padding: 20px;
}

.hero-text-title{
    font-size: 5rem;
    font-style: bold;
    margin-bottom: 20px;
    position: relative;
}

.hero-content p{
    font-size: 24px;
}

.detail{
    position: absolute;
    right: 780px;
    top: 220px;
    z-index: -2;
}

.experience{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
}

.experience-title{
    font-size: 9rem;
    color: #E0E0E0;
    text-transform: uppercase;
    text-align: left;
    line-height: 9rem;
}

.experience-section{
    display: grid;
    gap: 20px;
}

.experience-section-text{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 30px;
}

.experience-item{
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px 40px;
}

.experience-item-description{
    font-size: 0.9rem;
    color: #525252;
}

.experience-item-skill{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 10px;
}

.experience-item-skill li{
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}

.education{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
    background-color: #141414;
    margin-top: 80px;
}

.education-title{
    font-size: 9rem;
    color: #000;
    text-transform: uppercase;
    text-align: left;
    line-height: 9rem;
}

.education-section{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.education-section-text{
    display: grid;
    grid-column: 1/3;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 30px;
    color: #a3a3a3;
}

.education-item{
    display: grid;
    grid-row: 2;
    gap: 20px;
    background-color: #090909;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
}

.education-item h4, h5{
    color: #a3a3a3;
    text-transform: uppercase;
}

.education-item h3{
    color: white;
    margin-bottom: 30px;
}

