body {
  margin: 0px;
  font-family: "Fira Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
article,
ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  padding: 60px 120px;
  max-width: 1440px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;
  padding: 40px 120px;
  max-width: 1440px;
  margin: 0 auto;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.menu-items a {
  color: #141414;
  font-size: 1.2rem;
  display: block;
}

.wolf {
  max-width: 350px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 75px;
}

.hero-content {
  display: grid;
  justify-items: start;
  padding: 20px;
}

.hero-content h1 {
  font-size: 5rem;
  font-style: bold;
  margin-bottom: 20px;
  position: relative;
}

.hero-content h1::before {
  content: "";
  display: block;
  width: 120px;
  height: 100px;
  background: url("img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.hero-content p {
  font-size: 24px;
}

.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experience-title {
  font-size: 9rem;
  color: #e0e0e0;
  text-transform: uppercase;
  max-width: 4ch;
  word-break: break-all;
  text-align: left;
  line-height: 9rem;
}

.experience-section {
  display: grid;
  gap: 20px;
}

.experience-section-text {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 40ch;
  margin-bottom: 30px;
}

.experience-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 40px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 30px;
  position: relative;
}

.experience-item span {
  position: absolute;
  top: 20px;
  left: -50px;
  color: #525252;
  font-size: 1rem;
}

.experience-item::before {
  content: "";
  background: rgb(103, 221, 10);
  background: linear-gradient(
    90deg,
    rgba(103, 221, 10, 1) 0%,
    rgba(182, 248, 41, 1) 100%
  );
  top: 15px;
  left: -4px;
  width: 5px;
  height: 32px;
  position: absolute;
  border-radius: 5px;
}

.experience-item-description {
  font-size: 0.9rem;
  color: #525252;
}

.experience-item-skill {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 10px;
}

.experience-item-skill li {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}

.education {
  background-color: #141414;
}

.education-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 120px 120px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.education-container::before {
  content: "";
  display: block;
  width: 120px;
  height: 100px;
  background: url("img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 100px;
}

.education-title {
  font-size: 9rem;
  color: #000;
  text-transform: uppercase;
  text-align: left;
  line-height: 9rem;
  max-width: 5ch;
  word-break: break-all;
}

.education-section {
  margin-bottom: 100px;
}

.education-section-text {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 30px;
  color: #a3a3a3;
}

.education-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.education-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #090909;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}

.education-item h5 {
  color: #a3a3a3;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.education-item h4 {
  color: #a3a3a3;
  text-transform: uppercase;
}

.education-item h3 {
  color: white;
  margin-bottom: 20px;
  position: relative;
  margin-bottom: 60px;
}

.education-item h3::before {
  content: "";
  background: rgb(103, 221, 10);
  background: linear-gradient(
    90deg,
    rgba(103, 221, 10, 1) 0%,
    rgba(182, 248, 41, 1) 100%
  );
  left: -24px;
  width: 5px;
  height: 24px;
  position: absolute;
  border-radius: 5px;
}

.course-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 60px 0 40px 0;
}

.course-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.course-title h5 {
  color: #a3a3a3;
  text-transform: uppercase;
}

.lang-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 60px 0 40px 0;
}

.lang-title h5 {
  color: #a3a3a3;
  text-transform: uppercase;
}

.lang-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
}

.lang-level,
.course-hours {
  color: #8f8f8f;
}

.course-name,
.lang-name {
  color: #fff;
}

.contact {
  background-color: #000;
}

.contact-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
}

.contact-text {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #a3a3a3;
  margin-top: 50px;
  display: grid;
  align-items: center;
  justify-items: start;
}

.contact-info {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  display: grid;
  justify-items: flex-start;
  gap: 15px;
}

.footer-note {
  color: #8f8f8f;
  font-size: 1.1rem;
}
